<div class="container">
  <h1>About Me</h1>
  <p>
    I have worked in managment and ownership for the past 20 years. 
    Now I am studing Full Stack coding. Looking to expand our future.
  </p>
  <h2>Technologies I've Worked With
  </h2>
  <ul>
    <li class="technology-item">HTML Coding</li>
    <li class="technology-item">JavaScript</li>
    <li class="technology-item">CSS Design</li>
    <li class="technology-item">TypeScript</li>
    <li class="technology-item">Angular</li>
    <li class ="technology-item">...And More To Come</li>
  </ul>
</div>